*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
text-decoration: none;
}

ul,
ol {
list-style: none;
padding: 0;
}

h1,h2,h3,h4,p,
ul,ol,li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
input,
button,
textarea,
select {
font: inherit;
}

.title {
font-size: 50px;
color: #fff;
font-weight: 500;
}

.text {
color: #fff;
font-size: 20px;
line-height: 28px;
font-weight: 500;
}

body {
font-family: '';    
margin: 0 auto;  
max-width: 1920px;
/* background-color: #171717; */
}

.wrapper__main {
/* max-width: 1460px; */
font-family: "Gilam";
background-color: #171717;
/* margin: 0 auto;
margin-left: 229px;
margin-right: 229px;  */
}

.content  {
margin: 0 auto;
max-width: 1460px;
}

.header__container {
width: 1460px;
  display: flex;
justify-content: space-between;


padding-top: 37px;
margin: 0 auto;
margin-bottom: 89px;
}


.content__description {
margin-bottom: 41px;
margin-top: 20px;
}

.description__title {
padding-bottom: 43px;
}
.description__text {
display: inline-block;
width: 75%;
}

.header__button {
height: 50px;
width: 220px;
cursor: pointer;
background-color: transparent;
border: 1px solid #E4B564;
color:#E4B564;
}

.header__button>img {
padding-right:8px; ;
}

.upper__plates__box {
display: grid;
gap: 29px;
grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr ;
grid-template-rows: 468px 468px;
margin-bottom: 110px;
}

.upper-content__plates {
color: #FFF;
font-size: 20px;
line-height: 28px;
font-weight: 500;

display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px; 
}


.upper_grid_item1 {
grid-column-start:1 ;
grid-column-end:3;
background: #634F2C;;

}
.upper_grid_item2 {
grid-column-start:3 ;
grid-column-end:5;
background: #B4A385;
}

.upper_grid_item3 {
grid-column-start:5 ;
grid-column-end:7; 
background: #E4B564;
}
.upper_grid_item4 {
grid-row-start: 2;
grid-row-end:3;
grid-column-start:1 ;
grid-column-end:4;
background: #635A4A;
}
.upper_grid_item5 {
  grid-row-start: 2;
  grid-row-end:3;
  grid-column-start:4 ;
  grid-column-end:7;
  background: #B08C4D;
}

.middle__content {
margin-bottom: 110px;
}

.middle__plates__box {
display: grid;
gap: 30px;
grid-template-columns:repeat(3,467px);
grid-template-rows:  255px 28px 36px 30px 64px 35px 246px 0px;
}



.content__middle-plates {
position: relative; 
}

.middle-plates__text {
display: inline;
position: absolute;
top: 44px;
left: 51px;
right: 114px;
  
color: #fff;
font-size: 20px;
font-weight: 500;
line-height: 28px;
}



.middle__grid__item1 {
grid-column-start:1 ;
grid-column-end:2;
grid-row-start: 1;
grid-row-end:3;
background: #0E0E0E;
}
.middle__grid__item2 {
  grid-column-start:2 ;
  grid-column-end:3;
  grid-row-start: 1;
  grid-row-end:5;
  background: #242424;
}
.middle__grid__item3{
  grid-column-start:3 ;
  grid-column-end:4;
  grid-row-start: 1;
  grid-row-end:2;
  background: #1F1F1F;
}
.middle__grid__item4 {
  grid-column-start:1 ;
  grid-column-end:2;
  grid-row-start: 3;
  grid-row-end:9;
  background: #1F1F1F;
}
.middle__grid__item5 {
  grid-column-start:2 ;
  grid-column-end:3;
  grid-row-start: 5;
  grid-row-end:8;
  background: #E4B564;
}
.middle__grid__item5>p {
color: #333;
}

.middle__grid__item6 {
  grid-column-start:3 ;
  grid-column-end:4;
  grid-row-start:2;
  grid-row-end:7;
  background: #0E0E0E;
}
.middle__grid__item7 {
  grid-column-start:3 ;
  grid-column-end:4;
  grid-row-start:7;
  grid-row-end:9;
  background: #0E0E0E;
}

footer {
margin: 0 auto;
padding-bottom: 100px;
background-color: #0E0E0E;
}

.lower__desc__case {
display: flex;
justify-content: space-between;
padding-top: 100px;
}

.lower__button {
height: 50px;
width: 180px;
cursor: pointer;
background-color: transparent;
border: 1px solid #E4B564;
color:#E4B564;

}

.lower__plates__box {
display: grid;

grid-template-columns: 487px 487px 487px;

}

.lower__plates__items {
width: 487px;
height: 391px;


/* position: relative; */
}

.lower__plate1 {
background-color: #634F2C ;
}
.lower__plate1>img {
 padding-top: 171px;
 padding-left: 151px;
 padding-right: 80px;
 
}

.low__plate2__content {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
  justify-content: center;
  padding: 75px;
  color: #fff;
  font-size: 19px;
  line-height: 28px;
  text-align: center;

}

.lower__plate2 {
background-color: rgba(232, 210, 171, 0.761);
}


.lower__plate3{
background-color: #E4B564;
/* text-align: center;
vertical-align: middle; */
}
.lower__plate3>img {
padding-top: 171px;
padding-left: 184px;
}
.lower__plate4{
background-color: #635A4A;
}

.low__plate4__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  padding: 139px;
}

.lower__plate5 {
background-color:#B08C4D;
}
.lower__plate5>img {
  padding-top: 171px;
  padding-left: 184px;
}
.lower__plate6 {
background-color:#634F2C ;
}
